.LoginPage {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        background-color: antiquewhite;
        padding: 50px;

        h4 {
            font-family: GL;
        }

        h2 {
            font-family: GR;
            font-size: 5vw;
        }

        .formInputs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: 1rem;
            gap: 2rem;



            .inputBlock {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;


                label {
                    font-family: GR;
                    font-size: 1.2rem;

                }

                input {
                    width: 100%;
                    font-family: GL;
                    font-size: 1.2rem;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid black;
                    outline: none;
                }

                .errorDiv {
                    color: red;
                }
            }


            .submitBtn {
                padding: 0.6rem 2rem;
                border: none;
                font-family: GL;
                cursor: pointer;
                font-size: 1.1rem;
                background-color: #fff;
            }

            .submitBtn:hover {
                color: #fff;
                background-color: #111;
            }

            .submitBtn:active {
                scale: 0.95;
            }
        }

        .registerLink {
            margin-top: 15px;
            font-size: 1.05rem;

            .menu {
                text-decoration: none;
                color: red;
            }
            .menu:hover {
                text-decoration: none;
                color: #111;
            }
        }
    }
}