.BookNow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 7rem;

  .inputContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .textContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h4 {
        padding: 5px 0px;
        font-family: ASB;
        font-size: 3vh;
        line-height: 0.8;
        word-spacing: -5px;
        background-color: transparent;
        border-bottom: 1px solid var(--primary-color);
        border-radius: 2px;
      }

      h2 {
        font-family: ASB;
        font-size: 12vh;
        line-height: 0.8;
        word-spacing: -5px;
        background-color: transparent;
      }
    }

    .inputs {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      .DatePicker {
        width: 30vw;
        background-color: var(--fifth-bg-color);
        border-radius: 10px;
        padding: 8px 20px;
        font-family: AL;
        color: var(--primary-color);
        align-self: center;

        input {
          font-size: 1.2rem;
          font-family: AL;
          color: var(--primary-color);
        }

        input::placeholder {
          color: var(--primary-color);
          opacity: 1;
        }
      }

      .guestNumber {
        font-size: 1.2rem;
        font-family: AL;
        color: var(--primary-color);
        background-color: var(--fifth-bg-color);
        border: none;
        padding: 14px 20px;
        border-radius: 10px;

        .guestNumber::placeholder {
          color: var(--primary-color);
          opacity: 1;
        }
      }

      .searchButton {
        padding: 0.3rem 1.5rem 0.3rem 0.8rem;
        font-family: AR;
        color: var(--primary-color);
        font-size: 1.4rem;
        cursor: pointer;
        background-color: var(--primary-bg-color);

        i {
          color: var(--primary-color);
        }
      }

      .searchButton:hover {
        background-color: var(--secondary-bg-color);
        color: var(--secondary-color);

        i {
          color: var(--secondary-color);
        }
      }

      .searchButton:active {
        scale: 0.95;
      }
    }
  }

  .rooms {
    width: 100%;
    height: 550px;
    padding: 20px;
    display: flex;
    gap: 2rem;
    // flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
    // background-color: aqua;

    .room {
      width: 100%;
      height: 350px;
      padding: 20px;
      background-color: var(--fifth-bg-color);
      display: flex;
      // align-items: center;
      justify-content: space-between;

      .content {
        width: 70%;
        display: flex;


        .imgOrBackground {
          width: 35%;
          height: 100%;
          background-color: var(--secondary-bg-color);
          border-radius: 20px;
          position: relative;

          .available {
            position: absolute;
            left: 5%;
            bottom: 5%;
            background-color: var(--primary-bg-color);
            padding: 12px 22px;
            font-family: AR;
            font-size: 1.2rem;
            border: none;
            border-radius: 30px;

          }
        }

        .textContent {
          padding: 10px 0px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;


          .top {

            h4 {
              font-family: ASB;
              font-size: 3rem;
            }

            .type {
              display: flex;
              align-items: center;

              .segment {
                background-color: var(--sixth-bg-color);
                padding: 12px 22px;
                font-family: AR;
                font-size: 1.2rem;
                border: none;
                border-radius: 30px;
                color: var(--secondary-bg-color);

                .icon {
                  font-size: 1.2rem;
                  color: black;
                }
              }

              .badType {
                font-family: AR;
                font-size: 1.2rem;
              }

              .person {
                font-family: AR;
                font-size: 1.2rem;
              }
            }
          }

          .middle {
            padding: 0;
            display: flex;
            flex-direction: column;

            .facilitieas {
              padding: 0;
              display: flex;
              gap: 0.5rem;

              .firstIcon {
                font-family: AL;
                font-size: 1.2rem;
              }

              .secoendIcon {
                padding: 0;
                font-family: AL;
                font-size: 1.2rem;
              }
            }
          }

          .bottom {
            p {
              font-family: AL;
              font-size: 1.2rem;
            }
          }
        }
      }

      .price {
        width: 20%;
        border-left: 2px solid var(--secondary-bg-color);
        padding: 2px 0px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .amountAndButton {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .amount {
            width: 100%;
            display: flex;
            align-items: flex-end;
            gap: 0.3rem;

            h2 {
              padding: 0;
              font-size: 2.5rem;
              font-family: AL;
            }

            p {
              padding: 0;
              font-size: 1.3rem;
              font-family: AL;
            }

          }

          .select {
            width: fit-content;
            padding: 0.7rem 2rem;
            font-family: AR;
            color: var(--secondary-color);
            font-size: 1.4rem;
            cursor: pointer;
            border: none;
            background-color: var(--secondary-bg-color);
            border-radius: 20px;
          }

          .select:hover {
            background-color: var(--fourth-bg-color);
          }

          .select:active {
            scale: 0.95;
          }
        }

      }

    }
  }

  .rooms::-webkit-scrollbar {
    display: none;
  }
}